<div>
    <ul>
        {% for feed in feeds %}
            <li>
                <p>
                    {{ feed |raw }}
                    <small> el {{ feed.createdAt | date('d/m/Y', 'Europe/Madrid') }}</small>
                </p>

            </li>
         {% else %}
            <p> No hay elementos </p>
        {% endfor %}
    </ul>
</div>