/app/bootstrap*
/app/config/security.yml
/app/config/parameters.yml
/app/cache/*
/app/logs/*
/app/var/*
/app/phpunit.xml
/nbproject
/web/css/*
/web/js/*
/web/bundles/*
/web/images/*
/web/feeds/*
/vendor/
/.idea
/.vimrc
